name: PR Title (Conventional)
on:
  pull_request:
    types: [opened, edited, synchronize, reopened]
    
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          requireScope: false
          validateSingleCommit: true
          ignoreLabels: "skip-semantic"
